
$bg-color: #000000;
$primary-green: #00c06d;
$text-dark: #1a1a1a;
@import 'cards';
@import 'modal';
body {
    background-color: $bg-color;
    font-family: 'Inter', sans-serif;
    color: $text-dark;
}
header {
    padding: 20px;
    h1 { font-size: 1.8rem; margin-bottom: 5px; }
    p { color: #666; font-size: 0.9rem; }
}

#recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    padding: 15px;
}




body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
}

#recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    padding: 15px;
}

.recipe-card {
    background: white;
    border-radius: 20px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    position: relative;
}
.categories-filter{
    display: flex;
    justify-content: center;
    gap: 30px;

}
.chip{
width: 100px;
height: 30px;
border-radius: 30px;
}
.search{
    width: 400px;
    height: 50px;
    border-color: transparent;
    border-radius:30px ;
    margin-left: 20px;

}

.calorie-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 192, 109, 0.9);
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.7rem;
}
.alll{ 
    display: flex;
    justify-content: center;
}
.bottom-nav{
      position: fixed;
      bottom: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-item {
    width: 80px;
    height: 60px;
    font-size: 40px;
    border-radius: 33px;
    border-color: transparent;

    
}